body { 
    margin:0;
    padding:0;
    background-color:#D7DFE2;
    font-family: Arial, Verdana, Serif;
    font-size:10pt; 
}
body.dir_rtl { direction:rtl }
#main_container { background-color: #FFFFFF; width:900px; margin:0 auto;}
img {border:none}
#logo { padding:15px 30px 0 30px; margin:0;}
.clearer {clear:both; height:1px; overflow:hidden;}
#content {background:white; color:#444444; padding:20px;}
#footer {
    background-color:#416271; color:white; padding:10px;
}
#menu { background-color:#416271; text-align:center;}
#menu a, #menu a:visited {display:inline-block; color:white; text-decoration:none; padding:10px;}
#menu a:hover {text-decoration:underline}
.codeblock {direction:ltr; text-align:left; background:#f0f0f0; padding:2px 5px;}
