{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_DIRECTION}}">
<head>
    <title>{% block title %}{% endblock %} | Django.il </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{MEDIA_URL}}/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{MEDIA_URL}}/css/code.css" rel="stylesheet" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
</head>
<body class="dir_{{LANGUAGE_DIRECTION}}">
<div id="main_container">
    <div id="header">
        <h1 id="logo"><a href="/{{LANGUAGE_CODE}}/"><img src="{{MEDIA_URL}}img/django-il-logo.png" alt="{% trans "Israeli Django developers community" %}"/></a></h1>
        <div id="menu">
            <a href="/{{LANGUAGE_CODE}}/">{% trans "Main" %}</a>
        </div>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <div id="footer">footer goes here</div>
</div>
</body>
</html>
